<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events - Deckforge</title>
    <link rel="stylesheet" th:href="@{/universal.css}">
</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<div class="container">

    <h1>Events</h1>


    <p th:if="${errorMessage}" th:text="${errorMessage}" class="error"></p>

    <div th:each="event : ${events}" class="card">

        <h2 th:text="${event.title}">Event title</h2>

        <p>
            <strong>Type:</strong>
            <span th:text="${event.eventType}">Event type</span>
        </p>

        <p>
            <strong>Capacity:</strong>
            <span th:text="${event.capacity}">0</span>
        </p>

        <p>
            <strong>Status:</strong>
            <span th:if="${event.statusType == 'OPEN'}">Åben</span>
            <span th:if="${event.statusType == 'FULL'}">Fyldt</span>
        </p>


        <form th:if="${event.statusType == 'OPEN'}"
              th:action="@{/registerEvent}"
              method="post">


        <input type="hidden"
                   name="eventId"
                   th:value="${event.eventId}">

            <button type="submit">Register to event</button>

        </form>
        <p th:if="${event.statusType == 'FULL'}">
            Eventet er fyldt. Du kan ikke tilmelde dig.
        </p>

        <form th:if="${session.user != null && (session.user.roleType == 'ADMIN' || session.user.roleType == 'MANAGER')}"
                th:action="@{/deleteEvent}" method="post">
            <input type="hidden" name="eventId" th:value="${event.eventId}">
            <button type="submit">Slet event</button>
        </form>

        <form th:if="${session.user != null && (session.user.roleType == 'ADMIN' || session.user.roleType == 'MANAGER')}"
              th:action="@{/updateEvent}"
              method="get">
            <input type="hidden" name="eventId" th:value="${event.eventId}">
            <button type="submit">Opdater</button>
        </form>


    </div>

    <p th:if="${#lists.isEmpty(events)}">
        No events available.
    </p>

    <br>

    <a th:href="@{/}">Tilbage til forsiden</a>

</div>

<footer>
    <p>&copy; 2026 Deckforge MTG</p>
</footer>

</body>
</html>