<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Deckforge - Profil</title>
    <link rel="stylesheet" th:href="@{/universal.css}">
</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<hr>

<main style="display: flex;">

    <aside style="flex: 1;">
        <section class="rights">
            <h3>Rettigheder</h3>
            <span th:text="${session.user.roleType}">xx</span>
        </section>


        <section class="stats">
            <table border="1">
                <thead>
                <tr>
                    <th colspan="2">Stats</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Rank</td>
                    <td>#1</td>
                </tr>
                <tr>
                    <td>Winrate</td>
                    <td>65%</td>
                </tr>
                <tr>
                    <td>Total Match</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>Wins</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>Style</td>
                    <td>Aggro</td>
                </tr>
                </tbody>
            </table>
        </section>
    </aside>

    <section class="active-decks" style="flex: 2;">
        <table border="1">
            <thead>
            <tr>
                <th>#</th>
                <th>Navn på Deck</th>
                <th>Format</th>
            </tr>
            </thead>
            <tbody>

            <!-- Vi bruger iterstat til at tælle op -->
            <tr th:each="deck, iterStat : ${decks}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${deck.deckName}">Navn på Deck</td>
                <td th:text="${deck.formatType}">Format</td>
                <td>
                    <div class="buttons">
                        <form th:action="@{/editDeck}" method="post" style="margin:0;">
                            <input type="hidden" name="deckId" th:value="${deck.deckId}">

                            <button type="submit" style="background: none; border: none; color: var(--accent-blue); cursor: pointer; text-decoration: underline; padding: 0;">
                                Rediger
                            </button>
                        </form>
                    </div>
                </td>
            </tr>

            <tr th:if="${#lists.isEmpty(decks)}">
                <td colspan="3" style="text-align: center;">Ingen aktive decks fundet</td>
            </tr>
            </tbody>
        </table>
    </section>

    <section class="match-history" style="flex: 1;">
        <table border="1">
            <thead>
            <tr>
                <th>Match History</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Win vs. Mads</td>
            </tr>
            <tr>
                <td>Loss vs. Admin</td>
            </tr>
            <tr>
                <td>Win vs. Mette</td>
            </tr>
            <tr>
                <td>Win vs. Patrick</td>
            </tr>
            <tr>
                <td>Win vs. Mohammad</td>
            </tr>
            </tbody>
        </table>
    </section>

</main>

<footer>
    <p>&copy; 2026 Deckforge MTG</p>
</footer>

</body>
</html>