<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Deckforge</title>
    <link rel="stylesheet" th:href="@{/universal.css}">
</head>
<body>

<div class="container">
    <h2>Log ind</h2>

    <form th:action="@{/login}" method="post" th:object="${loginForm}" >

        <label>Email </label>
        <input type=email th:field="*{email}" required>

        <label>Password</label>
        <input type="password" th:field="*{password}" required>

        <button type="submit">Login</button>

        <div th:if="${loginError}" class="error" th:text="${loginError}"></div>
    </form>

    <div class="links">
        <p>
            Har du ikke en konto?
            <a href="/createUser">Opret bruger</a>
        </p>
        <p>
            <a href="/">Tilbage til forsiden</a>
        </p>
    </div>
</div>

<footer>
    <p>&copy; 2026 Deckforge MTG</p>
</footer>

</body>
</html>