<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mine Tilmeldinger</title>
    <link rel="stylesheet" th:href="@{/universal.css}">
</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<div class="container">

    <h1>Mine event tilmeldinger</h1>

    <p th:if="${errorMessage}"
       th:text="${errorMessage}"
       class="error"></p>

    <div th:if="${#lists.isEmpty(registrations)}">
        <p>Du er ikke tilmeldt nogen events.</p>
    </div>

    <div th:each="registration : ${registrations}"
         class="card">

        <h2>Event Registration</span></h2>

        <p>
            <strong>Event ID:</strong>
            <span th:text="${registration.eventId}"></span>
        </p>

        <p>
            <strong>Deck ID:</strong>

            <span th:if="${registration.deckId != 0}"
                  th:text="${registration.deckId}">
            </span>

            <span th:if="${registration.deckId == 0}">
                No deck selected
            </span>
        </p>

        <p>
            <strong>Registration Date:</strong>
            <span th:text="${registration.registrationDate}"></span>
        </p>

        <div th:if="${registration.deckId == 0}">

            <form th:action="@{/addDeckToRegistration}"
                  method="post">

                <input type="hidden"
                       name="registrationId"
                       th:value="${registration.registrationId}">

                <label>Choose Deck ID</label>

                <input type="number"
                       name="deckId"
                       required>

                <button type="submit">
                    Add Deck
                </button>

            </form>

        </div>

        <form th:action="@{/unregisterEvent}"
              method="post">

            <input type="hidden"
                   name="registrationId"
                   th:value="${registration.registrationId}">

            <button type="submit">
                Unregister
            </button>

        </form>

    </div>

    <br>

    <footer>
        <p>2026 Deckforge MTG</p>
    </footer>

</div>
</body>
</html>